# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Packaging
*.egg-info/
*.egg
dist/
build/
.eggs/
sdist/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Linting
.mypy_cache/
.ruff_cache/

# Editors
.vscode/
.idea/
*.swp
*.swo
